
<h1>Dogs are Awesome!</h1>

<div class="card col-8 offset-2">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <p class="card-text">Winston in pajamas.</p>
  </div>
</div>