@import "bootstrap";

h1 {
  color: #0000ff;
  margin-left: 200px;
  margin-right: auto;
  margin-top: 50px;
  font-size: 72px; 
}

body {
  background: image_url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background: image_url('squared_metal.png');
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  font-size: 32px;
  font-style: bold;
}

.links {
  margin-right: auto;
  margin-left: auto;
  font-size: 32px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 50px;
}
